CSS (styles.css)
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.4em;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

.profile {
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.content {
    max-width: 600px;
}

h2 {
    color: black;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}